
.title-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 50px;

  &__buttons {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    margin: 50px 10px;

    &__children {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &-item {
      display: flex;
      flex-direction: column;
      min-width: 50%;
      cursor: pointer;
      padding: 35px 0;

      &--active {
        height: 100px;
        border-radius: 16px;
        border: var(--toll-bar-border);
        background-color: var(--toll-bar-background);
      }
    }

    &-button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      padding: 0 30px;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: red;

      &-label {
        color: grey;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .title-block__buttons-button {
    font-size: 15px;
    font-weight: 500;
  }
}